# Ignore all files without an extension in /tests, since these are the
# executables.
/tests/*
!/tests/*.*

*~
*.o
*.in
*.lo
*.log

.deps
.libs
Makefile

aclocal.m4
autom4te.cache
/build-aux
config.h
config.status
configure
INSTALL
libtool
stamp-h1
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4

/doc/algorithms.aux
/doc/algorithms.bbl
/doc/algorithms.blg
/doc/algorithms.out
/doc/algorithms.pdf
/doc/algorithms.toc
/doc/mdate-sh
/doc/mpc.info
/doc/stamp-vti
/doc/texinfo.tex
/doc/mpc.dvi
/doc/mpc.pdf
/doc/mpc.ps
/doc/mpc.t2d/
/doc/mpc.t2p/

/src/libmpc.la

/tests/libmpc-tests.la
/tests/*.trs

/tools/bench/mpcbench

