<?xml version="1.0" encoding="UTF-8"?>
<menu>

<menuItem>
<title>Introduction</title>
<anchor>home</anchor>
<date>2008-12-02</date>
</menuItem>

<menuItem>
<title>Download</title>
<anchor>download</anchor>
<date>2008-12-02</date>
</menuItem>

<menuItem>
<title>Documentation</title>
<anchor>documentation</anchor>
<date>2008-12-02</date>
</menuItem>
<subMenuItem>
<title>Html Documentation</title>
<anchor>html</anchor>
<date>2008-12-02</date>
</subMenuItem>

<menuItem>
<title>Development</title>
<anchor>development</anchor>
<date>2008-11-18</date>
</menuItem>

<menuItem>
<title>Applications</title>
<anchor>applications</anchor>
<date>2008-12-02</date>
</menuItem>

</menu>

